# ==============================
# BASE DE DATOS
# ==============================
DB_HOST=localhost
DB_PORT=3306
DB_NAME=ecommerce
DB_USER=root
DB_PASS=

# ==============================
# APLICACIÓN
# ==============================
APP_NAME=AnimaMarket
APP_URL=http://localhost/Ecommerce/public/
APP_ENV=development
# Opciones: development | production

# ==============================
# SESIÓN
# ==============================
SESSION_NAME=animamarket_session